@import "variables";


.bg01{
    background: $img01 no-repeat center/100%;
}
.bg02{
    background: $img02 no-repeat center/100%;
}
.bg03{
    background: $img03 no-repeat center/100%;
}
.bg04{
    background: $img04 no-repeat center/100%;
}
.bg05{
    background: $img05 no-repeat center/100%;
}
.bg06{
    background: $img06 no-repeat center/100%;
}
.bg07{
    background: $img07 no-repeat center/100%;
}
.bg08{
    background: $img08 no-repeat center/100%;
}