$img01: url(../assets/donut01.webp);
$img02: url(../assets/donut02.webp);
$img03: url(../assets/donut03.webp);
$img04: url(../assets/donut04.webp);
$img05: url(../assets/donut05.webp);
$img06: url(../assets/donut06.webp);
$img07: url(../assets/donut07.webp);
$img08: url(../assets/donut08.webp);
$img09: url(../assets/donut09.webp);
$img10: url(../assets/donut10.webp);
$img11: url(../assets/donut11.webp);
$img12: url(../assets/donut12.webp);
$img13: url(../assets/donut13.webp);
$img14: url(../assets/donut14.webp);